header {
  display: grid;
  padding: 10px 5%;
  grid-template-columns: 150px 1fr 200px;
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .shop_cart {
      $padding: 5px;
      padding: $padding;
      box-shadow: 0px 0px 5px var(--color2);
      height: $header_height - 2 * $padding;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
    height: $header_height;
  }
}

%nav_after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  transform: translateX(-100%);
  background-color: var(--color5);
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  section {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &::after {
      @extend %nav_after;
      transition: $transition;
    }
    &:hover::after {
      transform: translateX(0);
    }
  }
  .active {
    position: relative;
    overflow: hidden;
  }
  .active::before {
    @extend %nav_after;
    transform: translateX(0);
    background-color: var(--color4);
  }
}

button {
  background-color: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: $transition;
  &:hover {
    transform: scale(1.05);
    opacity: 0.3;
  }
}
.second {
  color: #fff;
  background-color: var(--color4);
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
  }
  header nav {
    display: none;
  }
  button {
    font-size: 1.2rem;
  }
}
